extends layout

block body
	.navbar.navbar-default
		.container
			a.navbar-brand(href="#") Smtp Server
	.container
		ul.nav.nav-tabs
			li(ng-class="{'active': tabs.get()==tabs.inbox}")
				a(href="#" ng-click="tabs.set(tabs.inbox);") Inbox
			li(ng-class="{'active': tabs.get()==tabs.outbox}")
				a(href="#" ng-click="tabs.set(tabs.outbox);") OutBox
			li(ng-class="{'active': tabs.get()==tabs.create}")
				a(href="#" ng-click="tabs.set(tabs.create);") New Mail
		div(ng-show="tabs.get()==tabs.outbox")
			h1 OutBox

			table.table
				thead
					th From
					th To
					th Body
					th Sent 
					th Date
				tbody
					tr(ng-repeat="mail in outgoing")
						td {{mail.from}}
						td {{mail.to}}
						td {{mail.body}}
						td {{mail.sent}}
						td {{mail.date}}
		div(ng-show="tabs.get()==tabs.inbox")
			h1 Inbox
			table.table
				thead
					th From
					th Body
					th Date
				tbody
					tr(ng-repeat="mail in inbox")
						td {{mail.from}}
						td {{mail.body}}
						td {{mail.date}}
		.col-sm-6.col-sm-offset-3(ng-show="tabs.get()==tabs.create")
			h1 New Mail
			form(ng-submit="sendMail()")
				.form-group
					input.form-control(type="text" placeholder="To" ng-model="email.to")
				.form-group
					input.form-control(type="text" placeholder="From" ng-model="email.from")
				.form-group
					input.form-control(type="text" placeholder="Body" ng-model="email.body")
				.form-group.pull-right
					button.btn.btn-primary(type="submit") Send








