doctype html
html(ng-app="app")
	head
		title= title

		// Viewport mobile tag for sensible mobile support
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="/bc/bootstrap/dist/css/bootstrap.min.css")
		script(src="/bc/angular/angular.min.js")
		script(src="/js/main.js")

	body(ng-controller="mainCtrl")
		block body